{# Page Template: Cards #}

{{ component( 'header/subheader/Subheader.php', subheader ) }}

<div class="l-wrapper">

	<div class="l-container">

		{{ component( 'card/Card.php', card_one ) }}

	</div>

</div>
